.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container label {
  font-weight: 700;
  font-size: 1rem;
  color: black;
}

.container input {
  border: none;
  background-color: #E8F0FE;
  /* background-color: white; */
  color: black;
  border-radius: 10px;
  outline: none;
  padding: 10px 15px;
  color: black;
}


